<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <!-- IZIN BACKGROUND LAMA -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <!-- IZIN WAJIB BARU UNTUK ANDROID 14, 15, dan 16 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application android:label="Data Secure">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".PenerimaBoot" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".RestarterLayanan" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <!-- TAMBAHAN: Memberitahu Android 16 bahwa servis ini adalah Data Sync -->
        <service 
            android:name=".LayananBackground" 
            android:exported="false" 
            android:foregroundServiceType="dataSync" />

    </application>
</manifest>
